[icq]
default_charset = cp1251

incoming.bg = white
outgoing.bg = white

incoming.fg = blue
outgoing.fg = black

uin=203153632
password = q

host = login.icq.com:5190

# in seconds
keep.alive.interval = 57

[ui]
title=$
iconset = aox
show.offline = false
minimize.to.tray = true
show.window.in.taskbar = true
show.window.titlebar = true
show.window.statusbar = true
show.window.menu = true
raise.incoming.message = true
icon.blink.timeout = 1000
easy.move = true

#
