[icq]
default_charset = cp1251
incoming.fg = blue
outgoing.fg = black
#uin=287642128
#uin=223606200
uin=264025324

#uin=236513728
#uin=347272331
#uin=249268641
#uin=291148489

host = login.icq.com:5190
incoming.bg = white
outgoing.bg = white
password = 

# in seconds
keep.alive.interval = 57

[ui]
iconset = aox
show.offline = false
minimize.to.tray = true
show.window.in.taskbar = true
show.window.titlebar = true
show.window.statusbar = true
show.window.menu = true
raise.incoming.message = true
icon.blink.timeout = 1000
easy.move = true

# nnn
#203153632/q
#392652324/q

# ---