
#
# $Id: sample.config,v 1.26 2006/02/11 00:31:15 lightdruid Exp $
#

[icq]
#uin=223606200
uin=264025324
host=login.icq.com:5190
default_charset=cp1251
incoming.bg = white
incoming.fg = red
outgoing.bg = white
outgoing.fg = blue
#proxy.type = http
#proxy.server = localhost:3128

[ui]
show.offline = false

# ---
