[icq]
default_charset = cp1251
incoming.fg = red
outgoing.fg = blue
#uin=223606200
uin=264025324

#uin=236513728
#uin=347272331
#uin=249268641

host = login.icq.com:5190
incoming.bg = white
outgoing.bg = white
password = 

# in seconds
keep.alive.interval = 57

[ui]
iconset = aox
show.offline = false
minimize.to.tray = true

